/************************************************/
/*             CONFIGURAÇÃO GERAL              */
/**********************************************/

@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

h1, h3 {font-family: 'Gruppo', Arial, Helvetica, sans-serif;}

li {list-style: none;}

a {text-decoration: none;}


/************************************************/
/*             CONFIGURAÇÃO HOME              */
/**********************************************/

.home {
    width: 100vw;
    height: 100vh;
}

header {
    padding: 10px 10px 5px 10px;
    margin-bottom: 50px;
}

.navbar-menu {
    position: fixed;
    z-index: 99999;
}

.navbar-menu ul {
    display: flex;
    justify-content: center
}

.navbar-menu a {
    font-size: 5em;
    font-weight: normal;
    display: block;
    padding: 0px 20px;
    color: #000000;
}

.titulo {
    position: relative;
    top: 1vh;
    left: 10vw;
    display: inline-block;
}

.titulo h1 {
    font-size: 4rem;
    font-weight: normal;
    text-transform: uppercase;
}

.titulo h3 {
    font-size: 2.7em;
    font-weight: normal;
}

.img-home {
    position: relative;
    top: 2vh;
    z-index: -1;
}

.img-home img {
    width: 100vw;
    display: flex;
    border-bottom: 50px solid #FFB400;
}

.testura-circulo {
    width: 300px;
    height: 75px;
    background: radial-gradient(circle at center, #656565 40%, transparent 40%); background-size: 15px 15px;
}

.testura-circulo {
    position: relative;
    top: -3vh;
}

.aspas-left, .aspas-right {
    font-size: 3rem;
}

.aspas-right {
    position: relative;
    left: 85vw;
}

.descricao {
    width: 365px;
    position: relative;
    top: 2vh;
    left: 52%;
    transform: translate(-50%, 0);
}

.descricao p {
    font-size: 1.9em;
    padding: 0 20px;
}






